{% extends "base.html" %}

{% block content %}

<h4> Available plots </h4>
  
  <ul>
    {% for pkt in pkttypes %}
    <li> <a href="{{ pkt }}">{{ pkt }}</a>
    {% endfor %}
  </ul>

{% endblock %}   
