{% extends "base.html" %}

{% block content %}
<style>
 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }
</style>

<div class='row'>
  <h4> Available packets: </h4>
  {% for pkttype in db | sort %}
  <div class='row'>
    <div class='span2'>
      <div class="btn-group pull-right">
	<a href="tlm/{{ pkttype }}"><button class="btn btn-mini" type="button">Live Table</button></a>
	<a href="plotting/{{ pkttype }}"><button class="btn btn-mini" type="button">Live Plot</button></a>
      </div>
    </div>
    <div class='span10'>
      <strong>{{ pkttype }}</strong> - {{ db[pkttype]['description'] }}
    </div>
  </div>
  {% endfor %}
</div>
<div class="control-group"></div>
<div class='row'>
<h4> Most recent values: </h4>
  {% for pkttype in db | sort %}
  <div class='row'>
    <div class='span9'>
      <h5>{{ pkttype }}</h5>
    </div>
    <div class='span3'>
      <div class="btn-toolbar text-right">
	<div class="btn-group">
	  <a href="tlm/{{ pkttype }}/recent/10"><button class="btn btn-mini" type="button">Recent History</button></a>
	</div>
	<div class="btn-group">
	  <a href="tlm/{{ pkttype }}"><button class="btn btn-mini btn-primary" type="button">Live Table</button></a>
	</div>
	<div class="btn-group">
	  <a href="plotting/{{ pkttype }}"><button class="btn btn-mini btn-primary" type="button">Live Plot</button></a>
	</div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='span12'>
      <table class="table table-condensed table-striped">
        <tr>
          <th style="width: 20%">Field</th>
          <th style="width: 80%">Value</th>
        </tr>
        {% for field in db[pkttype]['values']|sort %}
        <tr>
          <td>{{ field }}</td>
          <td>{{ db[pkttype]['values'][field]|safe }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}


</div>

{% endblock %}   

