{% extends "base.html" %}

{% block content %}

  <h4> {{ name }}: </h4>
  
  <div id="tlmTableUpdate">
  {% include "tlm_live_data.html" %}
  </div>

{% endblock %}   

{% block bootstrap_js_bottom %}
  {{super()}}
<script type=text/javascript src="{{ url_for('static', filename='tlm_live.js') }}"></script>
{% endblock %}
