<style>
 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }
</style>
<small>received {{ pkt['utc'] }}</small>
<table class="table table-condensed table-striped">
  <tr>
    {% if pkt['values_formatted']|length %}
    <th style="width: 20%">Field</th>
    <th style="width: 40%">Raw Values</th>
    <th style="width: 40%">Formatted Values</th>    
    {% else %}
    <th style="width: 20%">Field</th>
    <th style="width: 80%">Raw Values</th>
    {% endif %}
  </tr>
  {% for field in pkt['values']|sort %}
  <tr>
    <td>{{ field }}</td>
    <td>{{ pkt['values'][field]|safe }}</td>
    {% if pkt['values_formatted']|length %}
    <td>{{ pkt['values_formatted'][field]|safe }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

